# MongoDB config for cheer-service local development
systemLog:
  destination: file
  path: D:\code\projects\cheer.wuyan\cheer-service\data\mongodb\mongod.log
  logAppend: true
storage:
  dbPath: D:\code\projects\cheer.wuyan\cheer-service\data\mongodb
net:
  port: 27017
  bindIp: 127.0.0.1
replication:
  replSetName: rs0
